* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.search-input {
  width: 30%;
  height: 2.5em;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 3.5rem;
}

.search-input:hover {
  border-color: rgb(6, 121, 121);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-heading,
.history-heading {
  font-size: 3em;
  color: rgb(45, 45, 174);
}

nav {
  margin: 1em 0;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  margin: 5px;
}

nav a:hover {
  color: rgb(6, 121, 121);
}

.image-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-item {
  width: 100%;
  height: 200px;
  flex-basis: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 10px;
}

.error-message,
.history-list {
  font-weight: bold;
  text-transform: capitalize;
}
.error-message {
  color: rgb(254, 18, 18);
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
}

.history-list,
.button {
  font-size: 18px;
  color: rgb(9, 129, 17);
  border: 1px solid rgb(10, 129, 15);

  padding: 7px 10px;
  border-radius: 10px;
  display: inline-block;
}
.history-list {
  margin: 20px 5px;
  list-style: none;
  width: fit-content;
  box-shadow: rgba(24, 20, 20, 0.3) 0px 5px 15px;
}

.button {
  background-color: rgba(113, 108, 108, 0.2);
  color: rgb(89, 88, 88);
  font-weight: bold;
}

.button:hover {
  font-size: 1.25rem;
  background-color: rgb(89, 88, 88);
  color: rgb(240, 236, 236);
}

.history-list:hover {
  background-color: rgb(125, 202, 125);
  color: rgb(255, 255, 255);
  font-size: 22px;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50%;
  margin: auto;
  background-color: rgba(250, 183, 106, 0.1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 25px;
}

.modal-content img {
  width: 80%;
  max-height: 70vh;
  overflow: hidden;
  object-fit: fill;
  border-radius: 15px;
  margin-bottom: 15px;
}

.image-stats {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: rgb(89, 88, 88);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.image-stats span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
